## Задание 1
Данастрокаstring_01=“Mama,justkilledaman,putagunagainsthishead,pulledmytrigger,nowhe'sdead.Mama,lifehadjustbegun,butnowI'vegoneandthrownitallaway.Mama,ooh(anywaythewindblows),didn'tmeantomakeyoucry.IfI'mnotbackagainthistimetomorrowcarryon,carryonasifnothingreallymatters.”

1.Посчитайте, сколько в строке символов (исключаяпробелы).

2.Посчитайте, сколько в строкеслов.

3.Напишитефункцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, заканчивающиеся на эту букву.
(например, “s”).

4.Необязательно: Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на этубукву (например, “m”).

In [18]:
str1 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. \
Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), \
didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

In [33]:
print(f"1: символов в строке: {len(str1.replace(' ',''))}")
print(f"2: слов в строке: {len(str1.split())}")

1: символов в строке: 250
2: слов в строке: 61

In [39]:
def words_with_last_letter(letter):
    a = list()
    for word in str1.replace(',','').replace('.','').replace('(','').replace(')','').lower().split():
        if str(word[-1:]) == letter:
            a.append(word)
    return a

In [40]:
words_with_last_letter('d')

['killed', 'head', 'pulled', 'dead', 'had', 'and', 'wind']

In [41]:
def words_with_first_letter(letter):
    a = list()
    for word in str1.replace(',','').replace('.','').replace('(','').replace(')','').lower().split():
        if str(word[0]) == letter:
            a.append(word)
    return a

In [42]:
words_with_first_letter('m')

['mama', 'man', 'my', 'mama', 'mama', 'mean', 'make', 'matters']

In [3]:
ratings_data = pd.read_csv('Python_7_pandas_functions_groupby/ml-latest-small/ratings.csv')
ratings_data.head()
 \
a man, put a gun against his head, pulled my trigger, now he's dead. \
Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), \
didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

### Задача 2 
Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [61]:
import random
i = 0
while i < 1:
    a = random.randint(100000,1000000)
    if '3' in str(a):
        i += 1
        print(a)

958037

### Задача 3 
Дан список 
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610] Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100.

In [63]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
isum = 0
for i in list_01:
    if i > 10 and i < 100:
        isum += i
isum

212

### Задача 4 
Данные студентов представлены в виде списка списков:
students = [     ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],     ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],     ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],     ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],     ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],     ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"], ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"] ] 

1.Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

2.Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый

3.Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [65]:
students = [ 
    ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"], 
    ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],
    ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"], 
    ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"], 
    ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"], 
    ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"], 
    ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"], 
    ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"] 
]

In [74]:
students_dict = {}
for student in students:
    students_dict[student[0]] = student[1:6]
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [81]:
students_dict['0001'][4]

'БСТ161'

In [83]:
def change_group(stud_id, new_group_num):
    students_dict[stud_id][4] = new_group_num

In [86]:
change_group('0001', 'БСТ163')
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ163'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [100]:
def show_members(group_num):
    ilist = []
    for student in students_dict:
        if students_dict[student][4] == group_num:
            ilist.append(str(f"{students_dict[student][0]} {students_dict[student][1]} {students_dict[student][2]}"))
    return ilist

In [101]:
# for student in students_dict:
#     print(students_dict[student][0])

show_members('БСТ163')

['Антонов Антон Игоревич',
 'Глаголева Анастасия Николаевна',
 'Шафутинский Михаил Михайлович']

### Задача 5 
Дана матрица:
matrix = [ [0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0] ] 

1.Выведите результат сложения всех элементов матрицы.

2.Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [110]:
matrix = [ 
    [0, 1, 2, 4, 8], 
    [6, 2, 2, 1, 9], 
    [3, 3, 3, 3, 3], 
    [4, 6, 7, 1, 2], 
    [5, 7, 3, 4, 0] 
]

In [111]:
isum = 0
for i in matrix:
    isum += sum(i)
isum

89

In [115]:
sum_col = [0, 0, 0, 0, 0]
for iline in matrix:
    for k in range(0,len(iline)):
        sum_col[k] += i[k]
print(sum_col)
max(sum_col)

[18, 19, 17, 13, 22]

22